@charset "UTF-8";
/*css 初始化 */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  -webkit-touch-callout: none;
}

*{
  margin: 0;
  padding: 0;
}

html,body{
  height:100%;
}
*{
  box-sizing:border-box;
}

fieldset, img, input, button,textarea {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul, ol {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun","宋体";
} 
select, input {
  vertical-align: middle;
}

select, input, textarea {
  /* font-size: 12px; */
  margin: 0;
}

textarea {
  resize: none;
}

img {
  border: 0;
  vertical-align: middle;
}
 
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

a {
  /* color: #666; */
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}
